@import "typography.css";
@import "buttons.css";
@import "forms.css";
@import "elements.css";
@import "sections.css";
@import "footer.css";
@import "header.css";


body{
    background: #21233D;
    color: #FFFFFF;
}

.wrapper{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 3em 2em;
    text-align: center;
    gap: 1em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}

.wrapper > p{
    margin-bottom: 1em;
}


@media screen and (min-width: 600px){
    .wrapper{
        padding: 4em 2em;
    }
    .wrapper > p{
        width: 60%;
    }
}

@media screen and (min-width: 1024px){
    .wrapper{
        padding: 6em 1em;
    }
}

