/*Popular-menu Section*/
.popular-section .wrapper {
    flex-direction: column;
}

.popular-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 2em;
    gap: 2em;
}

.popular-section ul li.sushi-box {
    flex-basis: 100%;
    padding: 2em;
}

.popular-section ul li.sushi-box .img-wrapper {
    max-width: 200px;
    margin-bottom: 1em;
}

.popular-section ul li.sushi-box p {
    font-size: 0.9em
}


/*Order sections*/
.order-section{
    background: #FFD17E;
    color: #21233D;
}

.order-section .img-wrapper {
    width: 400px;
    max-width: 80%;
}


/*Statistic Section*/
.statistics-section .wrapper{
    flex-direction: column;
}

.statistics-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em 2em 0 2em;
    gap: 2em;
}

.statistics-section ul li{
    flex-basis:100%;
    display: inline-block;
    width: 15em;
    max-width: 200px;
    position: relative;
    border-radius: 100%;
    border: 3px solid #FFFFFF;
}

.statistics-section ul li:before{
    display: block;
    content: '';
    padding-top: 100%;
}

.statistics-section ul li > div{
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.statistics-section ul li span{
    display: block;
    font-weight: 700;
    line-height: 1;
    font-size: 3.5em;
}

.statistics-section ul li span.metric-type{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2.5em;
}


/*Testimonial Section*/
.testimonial-section {
    background: center/cover no-repeat url("../images/testimonials-background.png");
    position: relative;
}

.testimonial-section:after {
    display: block;
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background:  rgba(17, 18, 38, 0.9);
}


.testimonial-section .wrapper{
    flex-direction: column;
}

.testimonial-section .img-wrapper {
    width: 15em;
    max-width: 200px;
    z-index: 10;
}

.testimonial-section p{
    font-size: 1.2em;
    z-index: 10;
}
.testimonial-section h4{
    z-index: 10;
}

.subscribe-section{
    background: #FFD17E;
    color: #21233D;
}

.subscribe-section .wrapper{
    flex-direction: column;
}


@media screen and (min-width: 600px) {

    .popular-section ul li.sushi-box {
        flex-basis: 30%;
    }
    .popular-section ul li.sushi-box p {
        font-size: 0.8em
    }


    .order-section .img-wrapper {
        max-width: 48%;
    }
    .order-section .content{
        text-align: left;
    }
    .order-section div.content{
        flex: 0 0 48%;
    }

    .statistics-section ul li{
        flex-basis: 28%;
    }
    .statistics-section ul li span{
        font-size: 2.5em;
    }
    .statistics-section ul li span.metric-type{
        font-size: 1.3em;
    }
}



